.h{
    font-size: 24px;
}

p{
    font-family: 'Bernard MT Condensed';
    font-size: 24px;
    text-decoration: underline;
}

.h{
    font-family: Arial;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;

}

